APP_ENV=development
SERVICE_NAME=requirement-service
DATABASE_URL=postgresql+psycopg://requirement:change-me@localhost:25432/requirement_db
PROJECT_SERVICE_URL=http://localhost:18080
RABBITMQ_URL=amqp://wkdevops:change-me@localhost:25672/wkdevops-rttd
RABBITMQ_EXCHANGE=platform.domain.v1
