.git
.gitignore
.venv*
venv
.pytest_cache
.ruff_cache
.mypy_cache
.tox
**/__pycache__
**/*.py[cod]
**/node_modules
node_modules
src/*.egg-info
tests
test-output
test-results
htmlcov
coverage
coverage.xml
.coverage
*.log
build
dist
.env
